.*
!.gitignore

*.swp
*.pid

# python

*.pyc

# java

*.class
*.jar
*.war
*.ear

# intellij

*.iml
*.ipr
*.iws
.idea/

# eclipse

.classpath
.project
.settings/

# mac os

.DS_Store

# maven

log/
target/
